SUPERKIT_ENV=development
HTTP_LISTEN_ADDR=:3000

DB_DRIVER=sqlite3
DB_NAME=app_db
DB_USER=
DB_PASSWORD=
DB_HOST=
MIGRATION_DIR=app/db/migrations

SUPERKIT_SECRET=change-me-to-a-32-char-minimum-secret

SUPERKIT_AUTH_REDIRECT_AFTER_LOGIN=/profile
SUPERKIT_AUTH_SESSION_EXPIRY_IN_HOURS=48
SUPERKIT_AUTH_SKIP_VERIFY=false
SUPERKIT_AUTH_EMAIL_VERIFICATION_EXPIRY_IN_HOURS=1
